body {
    background: #f4f4f4;
    font-family: sans-serif;
    text-align: center;
}

.contenedor {
    background: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
}
